:host {
  display: block;
  z-index: 999;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}

a {
	color: white;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

h1 {
	font-size: 14px;
	font-weight: 100;
}

#kaai {
/*	@apply(--layout-vertical);
*/	background-color: #333333;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 60px;
	-webkit-transition: height 0.35s;
	-moz-transition: height 0.35s;
	transition: height 0.35s;
}

.kaaibtns {
	width: 26px;
	height: 26px;
	margin: 0px 8px 0px 8px;
	padding: 0px;

}

.tools {
	padding-right: 2vw;
	/*@apply(--layout-vertical);*/
}

/*
.avatardesktop {
	width: 24px;
	height: 24px;
	border-radius:50%;
	margin: 0px 8px 0px 8px;
	padding: 0px;
}


.avatarmobile {
	width: 30px;
	height: 30px;
	border-radius:50%;
	margin: 2px 8px 2px 8px;
	padding: 0px;
}

*/

.avatarbox {
	width: 4.5vw;
	height: 4.5vw;
	max-width: 26px;
	max-height: 26px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0px 8px 0px 8px;
}

.avatarbox img {
 	width: 100%;
 	min-height: 26px;
 }

#paneBar {
	width: 100%;
	position: absolute;
	top: 0px;
	height: 10px;
  margin: 0px;
  z-index: 99;
  margin-top: 60px;
}

.aanmelden {
  position: relative;
  z-index: 999;
	display: block;
	padding: 0px;
	width: 250px;
	margin: 0px;
	background-color: #404040;
}
